<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Ensure index.php is the default document
    DirectoryIndex index.php index.html

    # Prevent loop if already inside public
    RewriteRule ^public/ - [L]
    
    # Forward all requests to the public directory
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
